
.photo-column {
    background-color: sienna;
    height: 500px;
}
.photo-sm {
    width: 100%;
    height: 380px;
    background-color: rgb(221, 200, 198);
    margin-top: 20px;
    overflow: hidden;
}
.photo-big {
    width: 100%;
    height: 10px;
    background-color: rgb(158, 118, 99);
    margin-top: 20px;
    overflow: hidden;
}
/*.col-lg-3 {
    background-color: blue;
    height: 900px;
}*/
#photo-gallery {
    background-color: bisque;
    height: 900px;
}
@media (min-width: 575.98px) {
    .video {
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}
@media (min-width: 767.98px) {
    .video {
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}
@media (min-width: 991.98px) {
    .video {
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}